.home__navbar {
  background-color: #e6e4e4;
  margin-bottom: 20px;
}

.home__navbar--icon {
  margin: 5px;
}

.home__input--list {
  margin-bottom: 10px;
}

.home__icon--active {
  margin-right: 10px;
  color: green;
}

.home__icon--completed {
  margin-right: 10px;
  color: red;
}

.home__tab,
.home__tab:hover {
  color: #000;
  font-size: large;
}

.home__tab--active {
  background-color: #e6e4e4;
}
